---
import Layout from '../layouts/Layout.astro';
import Navigation from '../components/Navigation.astro';
import About from '../components/About.astro';
import Footer from '../components/Footer.astro';
---

<Layout title="About Me - Nick" description="Learn more about Nick, a passionate developer and designer">
  <Navigation />
  <main class="pt-16">
    <About />
  </main>
  <Footer />
</Layout>
